 <section class=" container two-column">
            
            
            <figure class="feature modify wow fadeInUp" data-wow-delay="1.2s">
                <a href="#">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets/images/mainpromo/4.jpg" />
                </a>

                <figcaption class="text">
                    <h3 class="content-title">Gravity Gym</h3>
                    <p>Our Gravity Gym offers exercises you've never even dreamed of. From our Centrifugal Super-G Track to our Zero-G Yoga Studio, Moonwalk Manor has a new experience to offer everyone.</p>
                  
                    <a class="content-button" href="#">Learn More</a>

                </figcaption>

            </figure><!-- .feature -->

            <figure class="feature modify wow fadeInUp" data-wow-delay="1.5s">

                <a href="#">
                     <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="assets/images/mainpromo/4.jpg" />
                </a>

                <figcaption class="text">
                    <h3 class="content-title">Moon Dust Spa</h3>

                    <p>Regolith is what makes the moon grey. It is also what will rejuvinate  your skin, making it silky smooth to the touch.  Visit our spa and find out for yourself.</p>

                    <a class="content-button" href="#">Learn More</a>
                    
                </figcaption>

            </figure><!-- .feature -->

        </section><!-- .features centered -->