 <section class=" container two-column">
            
            
            <figure class="feature modify wow fadeInUp" data-wow-delay="1.2s">
                <a href="#">
                    <img  src="assets/images/mainpromo/4.jpg" />
                </a>

                <figcaption class="text">
                    <h3 class="content-title">Ecomansa Day </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptas recusandae error molestias tempora autem laboriosam tenetur. Quas autem, voluptates fuga labore ea est quis maxime ipsam ratione nam quos.</p>
                  
                    <a class="content-button" href="#">Learn More</a>

                </figcaption>

            </figure><!-- .feature -->

            <figure class="feature modify wow fadeInUp" data-wow-delay="1.5s">

                <a href="#">
                     <img  src="assets/images/mainpromo/4.jpg" />
                </a>

                <figcaption class="text">
                    <h3 class="content-title">Ecomansa Research Trip to Mauritania</h3>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi deleniti expedita ullam autem quod possimus dolores maiores facilis assumenda. Voluptatum laboriosam nostrum quidem reiciendis enim vel beatae libero obcaecati fugiat.</p>

                    <a class="content-button" href="#">Learn More</a>
                    
                </figcaption>

            </figure><!-- .feature -->

        </section><!-- .features centered -->