  <footer class="footer-main">

        <div>
            <ul class="">
                <li>&copy; 2017</li>
                <li>Terms</li>
                <li>Privacy</li>
                <li><a href="">Contact</a></li>

            </ul>
        </div>

        <div class="">
            
                <img src="assets/images/mainpromo/icon-facebook.svg" alt="">
                <img src="assets/images/mainpromo/icon-twitter.svg" alt="">
                <img src="assets/images/mainpromo//icon-gplus.svg" alt="">
            
        </div>

    </footer>

