  <footer class="footer-main">


         
            <ul class="footer-content">
                <li>Developed By </li>
                <li>
                   <a href="https://www.facebook.com/baboucarrd">Baboucarr Drammeh</a>
                  
                </li>
               <li>
                   <a href="http://ojaiteh.com/">Ousainou Jaiteh</a>
               </li>
            </ul>
            <ul class="footer-content">
                <li>&copy; 2018</li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            
            </ul>



    </footer>
