
        <section class="container  three-column">

            {% for goal in site.goalscollection %}
                <figure class="reason  modify">
                    <a href="">
                        <img class="height" src="{{goal.image}}" />
                    </a>
                    <figcaption class="text">
                        <h3 class="content-title">{{goal.title}}</h3>
                        <p>
                          {{goal.description}}
                        </p>
                      <a class="content-button" href="{{goal.url}}">Learn More</a>
                    </figcaption>
                </figure><!-- .reason 1 -->

        {%endfor%}



        </section><!-- .main-pitch -->
