
        <section class="container  three-column">

    
                <figure class="reason">
                    <a href="">
                        <img src="assets/images/mainpromo/welcome02.jpg" />
                    </a>
                    <figcaption>
                        <h3 class="content-title">What we  DO</h3>
                        <p>Every room at Moonwalk Manor, whether you are staying in a discount suite or going Apartment Class&reg;, has a panoramic view.</p>
                      <a class="content-button" href="#">Learn More</a>
                    </figcaption>
                </figure><!-- .reason 1 -->

                <figure class="reason">
                    <a href="">
                        <img src="assets/images/mainpromo/welcome03.jpg" />
                    </a>
                    <figcaption>
                        <h3 class="content-title">Who We Are</h3>
                        <p>Yes, you're on the moon, but that doesn't mean gravity won't do its work on your body. After a long day of excitement, bunk down in our luxurious beds to recharge for the next day.</p>
                        <a class="content-button" href="#">Learn More</a>
                    </figcaption>
                </figure><!-- .reason  2-->

                <figure class="reason">
                    <a href="">
                        <img src="assets/images/mainpromo/welcome04.jpg" />
                    </a>
                    <figcaption>
                        <h3 class="content-title">Goals</h3>

                        <p>Your comfort and safety is our priority. At Moonwalk Manor we pride ourselves on first class treatment from the moment you arrive to the moment you set your foot back on earth. Even during a meteor event.</p>
                        <a class="content-button" href="#">Learn More</a>
                    </figcaption>
                </figure><!-- .reason 3 -->

            
            
        </section><!-- .main-pitch -->
