
        <section class="container  three-column">

    
                <figure class="reason  modify">
                    <a href="">
                        <img src="assets/images/mainpromo/welcome02.jpg" />
                    </a>
                    <figcaption class="text">
                        <h3 class="content-title">What we  DO</h3>
                        <p>Every room at Moonwalk Manor, whether you are staying in a discount suite or going Apartment Class&reg;, has a panoramic view.</p>
                      <a class="content-button" href="#">Learn More</a>
                    </figcaption>
                </figure><!-- .reason 1 -->


                <figure class="reason  modify">
                    <a href="">
                        <img src="assets/images/mainpromo/welcome03.jpg" />
                    </a>
                    <figcaption class="text">
                        <h3 class="content-title">Who We Are</h3>
                        <p>Every room at Moonwalk Manor, whether you are staying in a discount suite or going Apartment Class&reg;, has a panoramic view.</p>
                        <a class="content-button" href="#">Learn More</a>
                    </figcaption>
                </figure><!-- .reason  2-->

                <figure class="reason modify">
                    <a href="">
                        <img src="assets/images/mainpromo/welcome04.jpg" />
                    </a>
                    <figcaption class="text">
                        <h3 class="content-title">Goals</h3>

                       <p>Every room at Moonwalk Manor, whether you are staying in a discount suite or going Apartment Class&reg;, has a panoramic view.</p>
                        <a class="content-button" href="#">Learn More</a>
                    </figcaption>
                </figure><!-- .reason 3 -->

            
            
        </section><!-- .main-pitch -->
