
<div class="top">
 <div class="logo">
      Logo

      <a href="#"  class=" button js-menu-toggle " aria-label="toggle navigation">
         <span class="" onclick="show('navi')" >Menu</span>
     </a>
</div>
     
  
 
</div>

<nav class="nav" id="navi">
    <ul>
        <li>
            <a href="about.html">About</a>

        </li>
        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/">Blog</a>
        </li>
        <li>
            <a href="/">Gallery</a>
        </li>
        <li>
            <a href="/">Event</a>
        </li>
        <li>
            <a href="/">Contact Us</a>
        </li>
    </ul>
</nav>