
<div class="top">

 <div class="logo">
      Logo

    
</div>
     
     <div class="menu-btn">
         
         <span  onclick="show('navi')" >Menu</span>
    
     </div>
  
 
</div>


<nav class="nav" id="navi">

   <div class="full-screen-logo">
   <img src="assets/images/logo.png" alt="">
   </div>

    <ul class="flex-nav">
        <li>
            <a href="/">About</a>

        </li>
        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="blog.html">Blog</a>
        </li>
        <li>
            <a href="/">Gallery</a>
        </li>
        <li>
            <a href="/">Event</a>
        </li>
        <li>
            <a href="/">Contact Us</a>
        </li>
    </ul>
</nav>