<div class="cover" >
<header class="top" >


    <div class="logo">
        <a href="/"><img src="assets/images/smalllogo.png" alt="logo"></a>

    </div>

    <div class="menu-btn" onclick="show('navi')">
        <span></span>
        <span></span>
        <span></span>
    </div>

</header>


<nav class="container wrapper" id="navi">

    <div class="full-screen-logo">
        <a href="/"><img src="assets/images/logo.png" alt="logo"></a>
    </div>
    <ul class="menu">
        <li>
            <a href="/">Home</a>
        
        </li>

        

        
        <li>
            <a href="blog.html">Blog</a>

        </li>

        <li>
            <a href="gallery.html">Gallery</a>

        </li>
   
        <li>
            <a href="aboutus.html">About Us</a>
        </li>
        <li>
            <a href="contact.html">Contact Us</a>

        </li>
        
    </ul>
</nav>
</div>
