<div id="showcase" class="promo-area">
        <div class="front-slider flexslider">
            <ul class="slides">
                <li>
                    <img src="assets/images/mainpromo/7.jpg" />
                </li>
                <li>
                    <img src="assets/images/gallery/meeting.jpg" />
                </li>
                <li>
                    <img src="assets/images/gallery/deserttrip-min.jpg" />
                </li>
                <li>
                    <img src="assets/images/mainpromo/4.jpg" />
                </li>
            </ul>
        </div><!-- .flexslider -->
        <div class="promo-content">
            <div class="promo-text">
                <h2 class="promo-title">ECOMANSA MAURITNIA TRIP</h2>
                <!-- <p class="promo-lede">That is absolutely COOL! Who came up with this idea? What about all the fun?</p> -->
            </div><!-- .promo-text -->
        </div><!-- .promo-content -->
    </div><!-- #showcase .promo-area -->
