<h2 class="main-title">Tales from Students</h2>
        <section class="stories container">
            <!-- slider -->
            <div class="story-slider flexslider">
                <ul class="slides">
                    <li>
                        <figure class="story-wrapper">
                            <img src="assets/images/mainpromo/s5.jpg" alt="">
                            <figcaption class="story">
                                <h3 class="story-header">Earth Rise</h3>
                                <div class="author">Bob MacEnzie</div>
                                <p>You've heard stories about the first astronauts visiting the moon and looking back at the earth rising on the horizon. Then you see it for yourself and realize just how small and vulnerable we all are.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="story-wrapper">
                            <img src="assets/images/mainpromo/s5.jpg" alt="">
                            <figcaption class="story">
                                <h3 class="story-header">Earth Seen from Heaven</h3>
                                <div class="author">Judy Blench</div>
                                <p>Rising up through the atmosphere, I saw the three-dimensionality of Earth for the first time. I was a flat-earther until that moment, but now I realize the turtles must be in a different dimension.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="story-wrapper">
                            <img src="assets/images/mainpromo/s5.jpg" alt="">
                            <figcaption class="story">
                                <h3 class="story-header">Footprints in the Regolith</h3>
                                <div class="author">Maiken Endersen</div>
                                <p>One small step for man. A million small footprints from giddy tourists. I wonder if anyone will look at a picture of mine in the future and dream of being the first woman on a new planet.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="story-wrapper">
                            <img src="assets/images/mainpromo/s5.jpg" alt="">
                            <figcaption class="story">
                                <h3 class="story-header">Falling through gravity</h3>
                                <div class="author">Maiken Endersen</div>
                                <p>I thought I knew yoga and how to control my body. Was I ever wrong. I have learned more about myself in two days in the Zero-G Yoga Studio than I had in 20 years of regular floor-based practice.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div><!-- .story-slider -->
        </section><!-- .stories centered -->