<h2 class="main-title">Stories from Students</h2>
      
        <section class=" container stories">
            <!-- slider -->
            <div class="story-slider flexslider">
                
                <ul class="slides">
                {% for story in site.storiescollection %}
                    <li>
                        <figure class="story-wrapper">
                            <img   src="{{story.image}}" alt="keita">
                            <figcaption class="story">
                                <h3 class="story-header">{{story.title}}</h3>
                                <div class="author">{{story.school}}</div>
                               <p>
                                 {{story.description}}
                               </p>
                                <a href="{{story.url}}" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
                    {% endfor %}
                <!--     <li>
                        <figure class="story-wrapper">
                            <img src="assets/images/mainpromo/s5.jpg" alt="">
                            <figcaption class="story">
                                <h3 class="story-header">Story Title</h3>
                                <div class="author">Student 2</div>
                                <p>Rising up through the atmosphere, I saw the three-dimensionality of Earth for the first time. I was a flat-earther until that moment, but now I realize the turtles must be in a different dimension.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>
   
                    <li>
                        <figure class="story-wrapper">
                            <img src="assets/images/mainpromo/s5.jpg" alt="">
                            <figcaption class="story">
                                <h3 class="story-header">Story Title</h3>
                                <div class="author">Student 3</div>
                                <p>One small step for man. A million small footprints from giddy tourists. I wonder if anyone will look at a picture of mine in the future and dream of being the first woman on a new planet.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure class="story-wrapper">
                            <img src="assets/images/mainpromo/s5.jpg" alt="">
                            <figcaption class="story">
                                <h3 class="story-header">Story Title</h3>
                                <div class="author">Student 4</div>
                                <p>I thought I knew yoga and how to control my body. Was I ever wrong. I have learned more about myself in two days in the Zero-G Yoga Studio than I had in 20 years of regular floor-based practice.</p>
                                <a href="#" class="content-button">Get the whole story</a>
                            </figcaption>
                        </figure>
                    </li> -->

                </ul>
            </div><!-- .story-slider -->
        </section><!-- .stories centered -->