.footer-main{
	background: #1b0d0f;
	color: #fff;
  height: 60px;



}
.footer-content{
   display: flex;
	 justify-content: center;

	 ul{


	 }



}
li{
 list-style-type: none;
 padding: 1em 1em 0 0;


	 a{
		 text-decoration: none;
		 color: #fff;

	 }
}
