.footer-main{
	background: #1b0d0f;
	color: #fff;
	text-align: center;
	height: 70px;


}
ul{
	 padding: 1em;
 }
li{
	list-style-type: none;
		display: inline-block;

		a{
			text-decoration: none;
			color: #fff;

		}
}
