.content-title{
	font-size:1.2em;
}

.text{
   padding:1em;
}

.modify{
	margin-top:1.5em;
}


.content-button {
    background: #1b0d0f;
    font-weight: 600;
    padding:.4em;
     color: #fff;
    text-decoration: none;




}
  // this is just a temporal fix
	.height{
		height:300px;
	}

.reason{

	 box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;

}
.con-article{
	
	margin:0 auto;
	
	line-height: 1.5;
}
@media(min-width: 700px){

	.con-article{
		width: 70%;
	}
	.three-column{
		display: flex;
		justify-content: space-between;

	}

	.reason{
		flex-basis:32%;
	}

	.services:nth-child(odd){
		background-color: #dd55ff;
	}
}
