.content-title{
	font-size:1.2em;
}

.text{
   padding:1em;	
}

.modify{
	margin-top:1.5em;
}


.content-button {
    outline: 3px solid #B51C35;
    font-weight: 600;
    padding:.4em;
     color: black;
    text-decoration: none;


   
   
}

.reason{
	 padding-top: 1.5em;
	 box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;

}
.con-article{
	width: 70%;
	margin:0 auto;
	padding:4em;
	line-height: 1.5;
}
@media(min-width: 700px){
	.three-column{
		display: flex;
		justify-content: space-between;
		
	}

	.reason{
		flex-basis:32%;
	}

	.services:nth-child(odd){
		background-color: #dd55ff;
	}
}

