body{
	line-height: 1.5;
	font-family: 'PT Sans', sans-serif;
}

*{
	box-sizing: border-box;
}

.two-column{


}
.container{
	 width: 80%;
	 margin: 0 auto;
	 padding: .7em;

}

h2{
	text-align: center;
}
@media(min-width: 700px){
	.two-col{

		column-count: 2;
        padding: 0 1em;
       font-size: 1.2em;
	}

}
