.top{
	background: #1b0d0f;
	display: flex;
	height: 50px;
	padding: 1.5em;
}

.full-screen-logo{
	display: none;
}

.menu-btn{
	display: flex;
	margin-left:  auto;
	 cursor: pointer;




}

 .header{
 		background: #1b0d0f;
 		display:none;

 transition: all .4s;

 }
.nav{




	li{
		display: block;
	   text-align:center;
	   padding-top:1em;
       color:#fff;
      &:last-child{
    	padding-bottom: 1em;
    }
	}


	a{
		text-decoration: none;
		color:#fff;
		font-weight: 700;





	}
}

ul li ul{
	display: none;


}

ul li:hover ul{
	display: block;
}
@media(min-width: 720px){

	.header{
		display:block;
	}
.full-screen-logo{
	display: flex;

}
	.top{
		display: none;
	}

	.nav{
		display: flex;
		align-items: center;
		padding: 2em;

	}

	.flex-nav{
		display: flex;
		margin-left:auto;

		li{
			padding-right: 1em;


		}
	}

}
