.top{
	background: #1b0d0f;
	display: flex;
	padding: .7em;

}
.cover{
	background: #1b0d0f;
}

.wrapper{
	background:#1b0d0f;
	display: none;
	width: 100%;

}
.full-screen-logo{
	display: none;
}

.menu-btn{

	margin-left:  auto;
	 cursor: pointer;

}

.menu-btn span{
	display: block;
	 background:#FFF;
	 width: 30px;
	 height: 5px;
	 margin:.2em;

}


li{
	list-style-type: none;

}
a{
	text-decoration: none;
	color: #FFF;


}





 .menu>li{

    text-align: center;
    padding: .7em;

 }

.submenu ul li{
	display: none;
   background: #1b0d0f;
}

.menu>li:hover>a{

	display: block;
	margin-bottom: 1px;
	font-size: 21px;
	background:#1b0d0f;

}

.submenu:hover ul li{
	display: block;
	opacity: 0;
}

.submenu ul li{
	background:#1b0d0f;
	color:#FFF;
	padding: .5em;



}
.submenu:hover ul{
    perspective: 1000px;
}

/*### main content start###
ANIMATION FOR FIRST LIST ITEMS OR FOR SUBMENU1###*/

/* FOR FIRST LIST ITEM*/

#submenu1:hover ul li:nth-child(1){
	animation-name: menu1;
	animation-duration: 300ms;
	animation-delay: 0ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

/* FOR second LIST ITEM*/

 #submenu1:hover ul li:nth-child(2){
	animation-name: menu1;
	animation-duration: 300ms;
	animation-delay: 150ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}





@keyframes menu1{
	0%{

        opacity: 0;
        transform: rotateX(-90deg) translateY(30px);
	}

	60%{
          transform: rotateX(50deg) translateY(15px);
	}

	100%{
		opacity:1;
         transform: rotateX(0deg) translateY(0px);
	}
}


@media(min-width: 700px){
	.menu-btn,.logo{
		display: none;
	}

	.wrapper{
		display: block;
		display: flex;
	}
	.full-screen-logo{
		display: block;
	}
	.menu{
		 display: flex;
		 margin-left: auto;
	}
}
