.profile{
	width:90%;
	margin: 0 auto;
}


.btn{
	margin: 1em;
	padding: 1em;
}
.card{
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    margin-top:2em;
    height: auto;

}
.center{
   text-align: center;
}

.profile-image{
	border-radius: 100%;
	padding:.9em;
}

.profile-name{
	font-size: 1.7em;
}

@media(min-width:720px){
	.profile{

		display:grid;
		grid-template-columns:  repeat(2, 2fr);
		grid-gap: 2em;
	}
	.container{
		width: 70%;
	}
}

@media(min-width: 920px){
	.profile{
		grid-template-columns:  repeat(3, 2fr);
	}
}
