<!DOCTYPE html>
<html>
<head>

	{% include head.html %}

</head>
<body>

	{{ content }}


  

</body>
<!-- Scripts -->
  <!-- <script src="assets/scripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="assets/scripts/main.js"></script> -->
    <script src="assets/scripts/js/jquery-1.11.1.min.js"></script>
    <script src="assets/scripts/js/menu-toggle-min.js"></script>
    <script src="assets/scripts/js/menu-toggle.js"></script>
    <script src="assets/scripts/js/jquery.flexslider-min.js"></script>
    <script src="assets/scripts/js/flexibility.js"></script>
    <script src="assets/scripts/js/flexslider-min.js"></script>
    <script src="assets/scripts/js/flexslider.js"></script>
    
    

  <script src="assets/scripts/js/main.js"></script>

</html>
